/* external css */

/* universal selector */
*{ 
    background-color:black;
}

body{
    background-color: black;
}
p{
    color: white;
    background-color: black;
    text-align: center;
}

h2{
    color:rgb(81, 81, 236);
    text-align: right;
    
}

/* Grouping Selector */
h1,h2{
    text-align: center;
    color:antiquewhite;
}

.div{
    margin:20px 20px 20px 20px;
    /* padding:20px 20px 20px 20px; */

    padding: 25px 50px 75px 100px;
/* top padding is 25px
right padding is 50px
bottom padding is 75px
left padding is 100px */

    color: aliceblue;
}

/* put . for class 

class can be used for any number of tags
*/
.para{
    padding: 20px;
    background-color: blue;
    color:aliceblue
}

.hello:hover{
    background-color: black;
    color:aqua;
}

/* class selector */
.center{
    text-align: center;
}

/* put # for id 

id should be used for one tag
id is used pref once
*/
/* id selector */

#id1{
    /* padding: 30px; */
    color:aquamarine;
    background-color: brown;
}